[submodule "lv_port_linux"]
	path = lv_port_linux
	url = git@github.com:lvgl/lv_port_linux.git
	branch = master

[submodule "jsmn"]
	path = jsmn
	url = git@github.com:zserge/jsmn.git
	branch = master
